table  {

    border-style: none;
    border-collapse:separate;
    margin: 40px auto;
    background: rgb(252, 251, 250);
    width: 100%;

}

th, td {

    border: none;
    padding: 20px;
    text-align: center;
    font-family: montserrat;
}




thead {

    background:rgb(216, 95, 115);
    color: black;
    font-size: 20px;
}

tbody {

    background: rgb(52, 163, 89);
    color: white;
    font-size: 20px;
}

tbody tr:nth-child(odd){
    background-color: #b195a4;
    color: #fff;
  }